<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sabre.edge.dynamo.web.module">
      <modules>
         <module
               id="pricingwidget"
               isInternal="false">
         </module>
      </modules>
   </extension>
   <extension
         point="com.sabre.edge.redapp.contactdetails.provider">
      <contactDetails
            company="com.sabre.tn.redapp.sdk360.pricingwidget.contactDetails1"
            contactName="com.sabre.tn.redapp.sdk360.pricingwidget.contactDetails1"
            email="com.sabre.tn.redapp.sdk360.pricingwidget.contactDetails1"
            phoneNumber="com.sabre.tn.redapp.sdk360.pricingwidget.contactDetails1">
      </contactDetails>
   </extension>
   <extension
         point="com.sabre.edge.cf.redapp">
   </extension>

</plugin>
